*{
	padding: 0;
	margin: 0;
}
.hide{
	display: none;
}
h1{
	text-align: center;
}
body{
	min-height: 100vh;
	background-color: #ddd;
	padding: 30px;
}
/*Página home*/
#posts-container{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	max-width: 2800px;
}
#posts-container img{
	max-width:100%;
}
#posts-container .post-card{
	background-color: #fff;
	margin: 30px;
	padding: 15px;
}
/*Página do post*/
.container{
	display: flex;
	flex-direction: column;
}
#post-container{
	display: flex;
	flex-direction: column;
}
#post-container img{
	max-width: 400px;
}
#post-container img, #post-container p{
	margin: 15px;
}

#comment-form{
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 15px;
	background-color: #f0f0f0;
	margin: 25px;
	display: flex;
	flex-direction: column;
	min-width: 250px;
}
#comment-form{
	width: 80%;
	max-width: 400px;
}
#comment-form .form-control{
	display: flex;
	flex-direction: column;
	margin: 15px;
}
#comments-container .comment-card{
	margin: 15px;
}
.comment-email{
	font-weight: bold;
	margin-bottom: 10px;
}